@using Pokemon.Models
@model Root

<body>
    <header>
        <div class="pokemonCollection">
            @foreach (var pokemon in Model.Results)
            {
                <ul>

                </ul>
            }
        </div>
    </header>
</body>