@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The World Of Pokemon</h1>
    <p>Looking for info on a certain pokemon. Go ahead and enter it in our search bar.</p>
    <p>Or search through our list of pokemon if your not sure of the name. Then enter it into the search bar.</p>
</div>
