html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

* {
  box-sizing: border-box;
}
body {
  position: static;
  background-color: red;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse
}

.pokemoncollection {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: black;
    padding: 10px;
}

.card{
    background-color:white;
    border: 1px solid;
    border-color:red;
    text-align: center;
}

.footer {
    flex: 0 0 50px;
    margin-top: auto;
    background-color:black;
    color: white;
}

article {
    float: left;
    padding: 20px;
    width: 70%;
}

.pokemonPics {
    float: left;
    padding: 60px;
    width: 30%;
    padding: 20px;
    list-style-type: none;
}

h6, p, span {
    padding: 0;
}

.pokemon {
    width: 100%;
    position: center;
    text-align: center;
    font-size: 35px;
    font-family:Elephant;
    font-weight: bold;
}

section::after {
    content: "";
    display: table;
    clear: both;
}

.callName {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.shared {
    background-image: url('images/pngimg.com - pokemon_png98.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: bottom center;
}

.navbar-nav {
    background-color: black;
    color: white;
}

li .nav-item {
    float: left;
}

.nav-link {
    display: block;
    color: royalblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
}

.nav-link:hover {
    background-color:red;
}

form #form {
    float: right;
}